In [17]:
import pandas as pd
import numpy as np
df = pd.read_csv('ProductionData.csv', sep=',')

In [18]:
df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000,20000.00000
mean,16.692650,2.73175,2.544250,1.460450,2.032650,0.369350,3.92070,3.209450,3.062550,1.485700,2.280150,3.515800,7.40665,10.325300,10.120300,9.82185
std,1.277015,1.09966,1.090184,0.726266,0.833438,0.786741,0.90319,1.026564,1.123966,0.892544,1.280097,1.391275,9.94318,3.766443,4.188055,4.95591
min,15.000000,0.00000,0.000000,1.000000,1.000000,0.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,0.00000,1.000000,-2.000000,-2.00000
25%,16.000000,2.00000,2.000000,1.000000,1.000000,0.000000,4.00000,3.000000,2.000000,1.000000,1.000000,3.000000,2.00000,8.000000,7.000000,7.00000
50%,17.000000,3.00000,3.000000,1.000000,2.000000,0.000000,4.00000,3.000000,3.000000,1.000000,2.000000,4.000000,4.00000,10.000000,10.000000,10.00000
75%,18.000000,4.00000,3.000000,2.000000,2.000000,0.000000,5.00000,4.000000,4.000000,2.000000,3.000000,5.000000,9.00000,13.000000,13.000000,13.00000
max,22.000000,4.00000,4.000000,4.000000,4.000000,3.000000,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,75.00000,20.000000,20.000000,21.00000

ORIGINAL MODEL

In [19]:
include = ['G1', 'G2', 'G3', 'studytime', 'Dalc']
df.drop(columns=df.columns.difference(include), inplace=True)  # only using 3 features
# df.describe()

The goal is to predict the quality of the student. We will build a predictor based on 'G1', 'G2', 'G3', 'studytime', and 'Dalc' Becasue we are trying to find quality students.

In [20]:
#df['qual_student'] = np.where((df['G3']>=15) & (df['G2'] >= 15) & (df['G1'] >= 15) & (df['studytime'] >= 3) & (df['activities'] == 'yes') & (df['absences'] <= 5), 1, 0)

#making standards lower so there will be more "qual_student"s
df['qual_student'] = np.where((df['G3']>=15), 1, 0)

In [21]:
df.describe()
display(df)

       studytime  Dalc  G1  G2  G3  qual_student
0              2     4  13  14  14             0
1              1     1   8   8   9             0
2              3     1  16  15  15             1
3              1     1  13  13  13             0
4              2     1  12  12  12             0
...          ...   ...  ..  ..  ..           ...
19995          2     1  17  18  19             1
19996          2     2   9  10  10             0
19997          1     1  11   9   9             0
19998          2     1  10   9   8             0
19999          2     3   7   5   5             0

[20000 rows x 6 columns]

In [22]:
# Drop all the columns we care about

include = ['G1', 'G2','Dalc', 'studytime', 'qual_student']
df.drop(columns=df.columns.difference(include), inplace=True)

In [23]:
# Import scikit-learn and build a random forest classifer

from sklearn.ensemble import RandomForestClassifier as rf
import sklearn
x = df[df.columns.difference(['qual_student'])]
y = df['qual_student']
x = pd.get_dummies(x)
clf = rf(n_estimators = 1000)
clf.fit(x, y)

RandomForestClassifier(n_estimators=1000)

In [24]:
display(x)

       Dalc  G1  G2  studytime
0         4  13  14          2
1         1   8   8          1
2         1  16  15          3
3         1  13  13          1
4         1  12  12          2
...     ...  ..  ..        ...
19995     1  17  18          2
19996     2   9  10          2
19997     1  11   9          1
19998     1  10   9          2
19999     3   7   5          2

[20000 rows x 4 columns]

In [25]:
pred = clf.predict(x)
sklearn.metrics.f1_score(y, pred, average='binary')

0.9262135922330097